<% attainment ||= @attainment %>
<% if attainment.progress_metric_id %>
<% @pm = ProgressMetric.find(attainment.progress_metric_id)%>
<% @pm_name = @pm.name %>
<% @pm_symbol = @pm.symbol %>
<% end %>					
<div class="post">
  <h2 class="title"><a href="#"><%= attainment.name%>  </a></h2>
    <p class="meta">
      <span class="date">Success will be... <%= @pm_name %> by <%=attainment.due_date.strftime("%b/%d/%Y")%></span>
      <span class="posted"> 0 of target (<%= @pm_symbol%>) : <a href="#"><%= attainment.target%></a></span>
    </p>
    <div class="entry">
       <span class="date">Why is this important to me? <br /></span>
       <%= attainment.reason%>  
    </div>
    <p class="links">
    <%= link_to("edit", edit_attainment_path(attainment)) %>&nbsp;&nbsp;&nbsp;&nbsp;|    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "delete", attainment, :method => :delete, :confirm => "you sure?", :title => "delete outcome" %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to("contributions", attainment_path(attainment)) %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" title="b0x w">linkages</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="#" title="b0x w">suggestions</p>
</div>
