					<div class="post">
						<h2 class="title"><a href="#"><%= attainment.name%>  </a></h2>
						<p class="meta"><span class="date">target date: <%=attainment.due_date%></span><span class="posted">target value: <a href="#"><%= attainment.target%></a></span></p>
						<div class="entry">
						     <%= attainment.reason%>
						</div>
						<p class="links"><%= link_to("edit", edit_attainment_path(attainment)) %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "delete", attainment, :method => :delete, :confirm => "you sure?", :title => "delete outcome" %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">contributions</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="b0x w">linkages</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="b0x w">suggestions</p>
					</div>
