<%@title = "| SignUp"%>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name, :id => 'signup_name'%></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :id => 'signup_email' %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :id => 'signup_password' %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :id => 'signup_password_confirmation' %></div>

  <div><%= f.submit "Sign up", :class => "session_submit"  %></div>
<% end %>
  
